{% extends "organizador.html" %}

{% block content %}

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpor" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="static/assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/assets/images/favicon/favicon.ico" type="image/x-icon">
    <title>CityRunning</title>
    <!-- BOOTSTRAP CSS  -->
    <link href="static/assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- CUSTOM STYLE CSS-->
    <link href="static/assets/css/style.css" rel="stylesheet">
    <link href="static/assets/css/shortcodes/shortcodes.css" rel="stylesheet">
    <!-- ANIMATE CSS-->  
    <link href="static/assets/plugins/animate/animate.min.css" rel="stylesheet">
    <!-- CSS FOR COLOR SWITCHER -->
    <link rel="stylesheet" href="static/assets/css/switcher/switcher.css">
    <link rel="stylesheet" href="static/assets/css/switcher/style1.css" id="colors">
    <!--Line Icons--> 
    <link rel="stylesheet" href="static/assets/plugins/line-icons/line-icons.css" type="text/css">
    <link rel="stylesheet" href="static/assets/plugins/line-icons-pro/line-icons-pro.css" type="text/css">
    <!-- OWL CAROUSEL -->
    <link href="static/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="static/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <!-- MAGNIFIC POPUP-->
    <link href="static/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <!--CUSTOM FONTS-->
    <link href="static/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="static/assets/plugins/line-icons/line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merienda:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="71">
    <!-- WRAPPER
      ============================== -->
    <div class="wrapper">
      <!-- NAVBAR
        ============================== -->

    <nav class="navbar navbar-default navbar-menu navbar-fixed-top js-navbar-top js-toggleClass">
                    <div class="container">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                          <h2><span class="logo-span"></span>My Account</h2>
                        </a>
                      </div>
                    </div>
                </nav>

        <div id="AlterarMail" class="p-top-90 p-bot-90 light-gray-bg2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 center-block text-center wow fadeIn" data-wow-delay="0.30s">
              <h2 class="about-heading bold-font">Criar Evento</h2>
              <div class="border-strip margin-bottom-40"></div>
              <div class="form-group">
                    <div class=" panel-heading col-md-6 margin-bottom-1"></div>
              </div>
            </div>
          </div>
        </div>


    <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-10 col-md-offset-1">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>Nome</th>
                                        <th>Local</th>
                                        <th>Hora</th>
                                        <th>Participantes</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX">
                                        <td>Trident</td>
                                        <td>Internet Explorer 4.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">4</td>
                                        <td class="center">X</td>
                                        <td class="center">X</td>
                                    </tr>
                                    <tr class="even gradeC">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.0</td>
                                        <td>Win 95+</td>
                                        <td class="center">5</td>
                                        <td class="center">C</td>
                                        <td class="center">X</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 5.5</td>
                                        <td>Win 95+</td>
                                        <td class="center">5.5</td>
                                        <td class="center">A</td>
                                        <td class="center">X</td>
                                    </tr>
                                    <tr class="even gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 6</td>
                                        <td>Win 98+</td>
                                        <td class="center">6</td>
                                        <td class="center">A</td>
                                        <td class="center">X</td>
                                    </tr>
                                    <tr class="odd gradeA">
                                        <td>Trident</td>
                                        <td>Internet Explorer 7</td>
                                        <td>Win XP SP2+</td>
                                        <td class="center">7</td>
                                        <td class="center">A</td>
                                        <td class="center">X</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
           </div>

      <!-- SCROLLTOP -->
      <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
    <!--End Wrapper--> 
    <!-- END OF STYLE SWITCHER -->       
    <!-- PRELOADER
      ============================== --> 
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- JAVASCRIPT
      ================================================== -->
    <!-- Jquery--> 
    <script src="static/assets/js/jquery.js"></script> 
    <!-- Bootstrap Jquery--> 
    <script src="static/assets/js/bootstrap/js/bootstrap.min.js"></script> 
    <!-- Jquery Easing--> 
    <script src="static/assets/js/jquery.easing.min.js"></script>
    <!-- Wow Animation -->
    <script src="static/assets/plugins/wow/wow.min.js"></script>  
    <!-- Smooth Scroll--> 
    <script type="text/javascript" src="static/assets/plugins/SmoothScroll/SmoothScroll.js"></script>
    <!-- Stellar--> 
    <script type="text/javascript" src="static/assets/plugins/stellar/jquery.stellar.min.js"></script>
    <!-- Waypoint and Counters--> 
    <script type="text/javascript" src="static/assets/plugins/counter/waypoints.min.js"></script> 
    <script type="text/javascript" src="static/assets/plugins/counter/jquery.counterup.min.js"></script> 
    <!--Isotope-->
    <script type="text/javascript" src="static/assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <!--Magnific Popup-->
    <script type="text/javascript" src="static/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!--Images Load-->
    <script type="text/javascript" src="static/assets/plugins/imagesloaded/imagesloaded.pkgd.js"></script>
    <!-- Owl Carousel--> 
    <script type="text/javascript" src="static/assets/plugins/owl-carousel/owl.carousel.min.js"></script> 
    <!-- NIVO LIGHTBOX--> 
    <script type="text/javascript" src="static/assets/plugins/nivo-lightbox/nivo-lightbox.js"></script>    
    <!--Visible-->
    <script type="text/javascript" src="static/assets/plugins/visible/visible.js"></script>
    <!--Fitvids-->
    <script type="text/javascript" src="static/assets/plugins/fitvids/fitvids.js"></script>
    <!-- Google Maps--> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"></script> 
    <script type="text/javascript" src="static/assets/js/map.js"></script>
    <!-- Recaptcha--> 
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Contact--> 
    <script src="static/assets/js/contact.js"></script>
    <!-- switcher js -->
    <script src="static/assets/js/switcher.js"></script>     
    <!--Custom JS-->
    <script src="static/assets/js/custom.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
{% endblock %}

{% block scripts %}
<script src="static/scripts/jquery.validate.min.js"></script>
{% endblock %}
