<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon/favicon.ico" type="image/x-icon">
    <title>CityRunning</title>
    <!-- BOOTSTRAP CSS  -->
    <link href="assets/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- CUSTOM STYLE CSS-->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/shortcodes/shortcodes.css" rel="stylesheet">
    <!-- ANIMATE CSS-->  
    <link href="assets/plugins/animate/animate.min.css" rel="stylesheet">
    <!-- CSS FOR COLOR SWITCHER -->
    <link rel="stylesheet" href="assets/css/switcher/switcher.css">
    <link rel="stylesheet" href="assets/css/switcher/style1.css" id="colors">
    <!--Line Icons--> 
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css" type="text/css">
    <link rel="stylesheet" href="assets/plugins/line-icons-pro/line-icons-pro.css" type="text/css">
    <!-- OWL CAROUSEL -->
    <link href="assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <!-- MAGNIFIC POPUP-->
    <link href="assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <!--CUSTOM FONTS-->
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="assets/plugins/line-icons/line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merienda:400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="71">
    <!-- WRAPPER
      ============================== -->
    <div class="wrapper">
      <!-- NAVBAR
        ============================== -->
      <nav class="navbar navbar-default navbar-menu navbar-fixed-top js-navbar-top js-toggleClass">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">
              <h2>Y<span class="logo-span">O</span>RK<span class="logo-span">E</span>R</h2>
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right ">
              <li class="active"><a href="#home">Página Principal</a></li>
              <li><a href="#about">Sobre</a></li>
              <li><a href="#eventos">Eventos</a></li>
              <li><a href="#vantagens">Vantagens</a></li>
              <li><a href="#team">Equipa</a></li>
              <li><a href="#contactos">Contactos</a></li>
              <li><a href="login.html">Login</a></li>
              <li><a href="create.html">Creat Account</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>
      <!-- INTRO PARALLAX BANNER
        =================================== -->
      <div class="parallax parallax_banner2 intro" id="home" data-stellar-background-ratio="0.1">
        <div class="intro-body">
          <div class="container">
            <div class="row">
              <div class="col-md-10 center-block text-center">
                <h1 class="brand-heading medium-font">"Uma partida para muitas metas"</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- About us
        =================================== -->
      <div id="about" class="p-top-90 p-bot-90 light-gray-bg2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 center-block text-center wow fadeIn" data-wow-delay="0.30s">
              <h2 class="about-heading bold-font">Sobre</h2>
              <div class="border-strip margin-bottom-55"></div>
              <h5 class="margin-bottom-40">O CityRunning é a derradeira ferramenta de eventos de corrida, pensada para todos os amantes do desporto, desde organizadores a participantes.</h5>
              <h4 class="margin-bottom-40 bold-font">Este serviço inovador contém todas as ferramentas necessárias para:</h4>
            </div>
            <div class="col-md-6 center-block text-left wow fadeIn" data-wow-delay="0.10s">
              <div class = "margin-bottom-10">
                <ol class ="square">
                  <li> Criar e organizar o seu evento desportivo de forma eficiente e simples.</li>
                  <li> Participar no evento desportivo que mais lhe agrada.</li>
                  <li> Fazer a sua corrida chegar ao máximo de atletas possíveis.</li>
                  <li> Estabelecer relações com novos patrocinadores.</li>
                  <li> Equipar a sua corrida com tecnologia IoT de ponta.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
         
     
        <!-- Eventos
        ============================== -->
      <div id="eventos" class="p-top-90 p-bot-90">
        <div class="container">
          <div class="row">
            <div class="col-md-7 center-block wow fadeIn" data-wow-delay="0.30s">
              <div class="heading text-center">
                <h2 class="bold-font">EVENTOS</h2>
                <div class="border-strip"></div>
                <p class= "margin-bottom-50" <> </p>
                <div class="margin-bottom-30">Pode participar em qualquer um destes eventos ou até mesmo ser o próprio organizador. Poderá também organizar outro tipo de evento relacionado com corridas.</div>
              </div>
            </div>
          </div>
         
          <!-- FILTER -->
          <div class="row margin-top-50">
            <div class="col-sm-12 text-center wow fadeIn" data-wow-delay="0.30s">
              <ul id="filters" class="filters">
                <li><a href="#Trail" data-filter=".trail">Trail</a></li>
                <li><a href="#Maratonas" data-filter=".maratonas">Maratonas</a></li>
                <li><a href="#Caminhadas" data-filter=".caminhadas">Caminhadas</a></li>
                <li><a href="#CortaMato" data-filter=".cortamato">Corta Mato</a></li>
                <li><a href="#Corridas Solidárias" data-filter=".solidarias">Corridas Solidárias</a></li>
              </ul>
            </div>
          </div>

          <!-- /PORTFOLIO FILTER -->
          <div class="works-grid-wrapper">
            <div id="works-grid" class="works-grid-3 works-grid-gutter works-grid-dark">
               <!-- PORTFOLIO ITEM -->
              <article class="work-item trail">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.30s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/1.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Trail</h3>
                  </div>
                </div>
              </article>
              <!-- /PORTFOLIO ITEM -->
              <article class="work-item trail">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.30s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/2.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Trail</h3>
                  </div>
                </div>
              </article>
              <!-- /PORTFOLIO ITEM -->
              <article class="work-item trail">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.30s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/3.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Trail</h3>
                  </div>
                </div>
              </article>
              <!-- /PORTFOLIO ITEM -->

              
              <!-- PORTFOLIO ITEM -->
              <article class="work-item maratonas">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.35s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/4.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Maratonas</h3>
                  </div>
                </div>
              </article>
              
              <!-- /PORTFOLIO ITEM -->
              <article class="work-item maratonas">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.35s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/5.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Maratonas</h3>
                  </div>
                </div>
              </article>

              <!-- /PORTFOLIO ITEM -->
              <article class="work-item maratonas">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.35s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/6.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Maratonas</h3>
                  </div>
                </div>
              </article>
              
              
              <!-- PORTFOLIO ITEM -->
              <article class="work-item caminhadas">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.40s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/7.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Caminhadas na Montanha</h3>
                  </div>
                </div>
              </article>

              <!-- PORTFOLIO ITEM -->
              <article class="work-item caminhadas">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.40s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/8.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Caminhadas Solidárias</h3>
                  </div>
                </div>
              </article>
              
             
              <!-- PORTFOLIO ITEM -->
              <article class="work-item cortamato">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.45s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/11.jpeg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Corta Mato</h3>
                  </div>
                </div>
              </article>
              
              <!-- PORTFOLIO ITEM -->
              <article class="work-item cortamato">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.45s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/12.jpeg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Corta Mato</h3>
                  </div>
                </div>
              </article>

              <!-- PORTFOLIO ITEM -->
              <article class="work-item cortamato">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.45s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/13.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Corta Mato</h3>
                  </div>
                </div>
              </article>
              
              
              <!-- PORTFOLIO ITEM -->
              <article class="work-item solidarias">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.20s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/9.jpg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Corrida Solidária</h3>
                  </div>
                </div>
              </article>
              
              <!-- PORTFOLIO ITEM -->
              <article class="work-item solidarias">
                <div class="work-wrapper wow fadeIn" data-wow-delay="0.20s">
                  <div class="work-thumbnail">
                    <img src="assets/images/portfolio/10.jpeg" alt="" style="width: 370px; height: 250px">
                  </div>
                  <div class="work-caption">
                    <h3 class="work-title">Corrida Solidária</h3>
                  </div>
                </div>
              </article>       
              <!-- /PORTFOLIO ITEM -->
            </div>
          </div>
        </div>
        <!-- / .container -->     
      </div>

       <!-- Vantagens -->
        <div id="vantagens" class="p-top-90 p-bot-90 light-gray-bg2">
          <div class="container">
            <div class="row">
              
              <div class="col-md-8 center-block text-center wow fadeIn" data-wow-delay="0.30s">
                <h2 class="vantagens-heading bold-font">Vantagens</h2>
                <div class="border-strip margin-bottom-70"></div>
              </div>
            </div>
            
            <div class="col-md-8 left-block text-left wow fadeIn" data-wow-delay="0.30s">
              <h3 class="margin-bottom-20 bold-font">Para organizadores</h3>
            </div>
            
            <div class="col-md-6 left-block text-left wow fadeIn" data-wow-delay="0.10s">
              <div class = "margin-bottom-40">
                <ol class ="square">
                  <li> Organize corridas a partir do seu sofá. Deixe os detalhes complicados para nós.</li>
                  <li> Ferramenta de gestão de corrida. Para que saiba tudo sobre a sua corrida numa página só.</li>
                  <li> Tecnologia Inovadora de Tracking.  Equipe a sua prova com o melhor que o IoT tem para oferecer, e saiba tudo sobre o decorrer do evento.</li>
                </ol>
              </div>
            </div>
            
            <div class="col-md-8 left-block text-rigth wow fadeIn" data-wow-delay="0.30s">
              <h3 class="margin-bottom-20 bold-font">Para atletas</h3>
            </div>
            
            <div class="col-md-6 rigth-block text-rigth wow fadeIn" data-wow-delay="0.10s">
              <div class = "margin-bottom-40">
                <ol class ="square">
                  <li> Dashboard personalizável, para que as corridas que mais lhe interessam apareçam primeiro.</li>
                  <li> Nunca mais perca uma prova. Se desejar, receberá notificações sempre que for colocada uma prova na sua área.</li>
                  <li> Houve falta de água? O percurso era maior que o publicitado? Avalie e deixe os seus comentários na página da prova, para que a próxima edição seja melhor.</li>
                  <li> Acompanhe o seu progresso. Corra mais leve. Com os nossos sensores GPS embutidos na roupa, pode deixar o seu telemóvel em casa.</li>
                </ol>
              </div>
            </div>
            
            <div class="col-md-8 left-block text-rigth wow fadeIn" data-wow-delay="0.30s">
              <h3 class="margin-bottom-20 bold-font">Para Patrocionadores</h3>
            </div>
            
            <div class="col-md-6 left-block text-rigth wow fadeIn" data-wow-delay="0.10s">
              <div class = "margin-bottom-40">
                <ol class ="square">
                  <li>Patrocine as melhores corridas. Com base nos comentários e avaliações, pode garantir que o nome da sua marca não será manchado.</li>
                  <li>Expanda o seu negócio. Chegue a mais clientes. Aumente as suas oportunidades de negócio.</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      
      <!--Equipa-->
      <div id="team" class="p-top-90 p-bot-90">
        <div class="container">
          <div class="row">
            <div class="col-md-10 center-block text-center wow fadeIn" data-wow-delay="0.30s">
              <h2 class="bold-font">Equipa</h2>
              <div class="border-strip margin-bottom-40""></div>
              <h4> Somos estudantes da Universidade de Aveiro, Departamento de Eletrónica, Telecomunicações e Informática, curso de Engenharia de Computadores e Telemática</h4>
            </div>
          </div>
          <div class="row p-top-70">
            <div id="person-profile" class="owl-carousel">
              <div class="screen">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.30s">
                  <div class="profile-photo"><img src="assets/images/team/1.jpg" style="width: 165px; height: 175px" class="img-circle" alt=""/></div>
                  <div class="profile-info margin-top-25">
                    <h4 class="medium-font">Alexandre Santos</h4>
                    <h5 class="medium-font">nº80106</h5>
                    <p><span>DEVELOPER</span></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h3>Sobre</h3>
                  <p>Alexandre Santos, estudante do 3ºano do curso de Engenharia de Computadores e Telemática</p>
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                      HTML / CSS / JQUERY  <span>75%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
                      PHOTOSHOP  <span>80%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                      GRAPHIC DESIGN <span>75% </span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100" style="width:79%">
                      PHP / WORDPRESS  <span>79%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                </div>
              </div>
              <div class="screen">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.30s">
                  <div class="profile-photo"><img src="assets/images/team/2.jpg" style="width: 165px; height: 175px" class="img-circle" alt=""/></div>
                  <div class="profile-info margin-top-25">
                    <h4 class="medium-font">Gonçalo Arieiro</h4>
                    <h5 class="medium-font">nº80130</h5>
                    <p><span>DEVELOPER</span></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h3>Sobre</h3>
                  <p>Gonçalo Arieiro, estudante do 3ºano do curso de Engenharia de Computadores e Telemática</p>
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75"
                      aria-valuemin="0" aria-valuemax="100" style="width:75%">
                      Graphic<span>75%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100" style="width:80%">
                      Ruby on rails  <span>80%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      Wordpress  <span>70%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100" style="width:80%">
                      HTML / CSS / JQUERY  <span>80%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                </div>
              </div>
              <div class="screen">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.30s">
                  <div class="profile-photo"><img src="assets/images/team/3.jpg" style="width: 165px; height: 175px" class="img-circle" alt=""/></div>
                  <div class="profile-info margin-top-25">
                    <h4 class="medium-font">David Leite</h4>
                    <h5 class="medium-font">nº72455</h5>
                    <p><span>DEVELOPER</span></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h3>Sobre</h3>
                  <p>David Leite, estudante do 3ºano do curso de Engenharia de Computadores e Telemática</p>
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90"
                      aria-valuemin="0" aria-valuemax="100" style="width:90%">
                      Photoshop  <span>90%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="74"
                      aria-valuemin="0" aria-valuemax="100" style="width:74%">
                      php  <span>74%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="92"
                      aria-valuemin="0" aria-valuemax="100" style="width:92%">
                      Wordpress  <span>92%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="84"
                      aria-valuemin="0" aria-valuemax="100" style="width:84%">
                      HTML / CSS / JQUERY  <span>84%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                </div>
              </div>
              <div class="screen">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.30s">
                  <div class="profile-photo"><img src="assets/images/team/4.jpg" style="width: 170px; height: 175px" class="img-circle" alt=""/></div>
                  <div class="profile-info margin-top-25">
                    <h4 class="medium-font">Jorge Catarino</h4>
                    <h5 class="medium-font">nº85028</h5>
                    <p><span>DEVELOPER</span></p>
                  </div>
                </div>
                <div class="col-md-8">
                  <h3>Sobre</h3>
                  <p>Jorge Catarino, estudante do 3ºano do curso de Engenharia de Computadores e Telemática</p>
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100" style="width:80%">
                      Photoshop  <span>80%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="72"
                      aria-valuemin="0" aria-valuemax="100" style="width:72%">
                      php  <span>72%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100" style="width:70%">
                      Wordpress  <span>70%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                  <!-- progress bar start -->
                  <div class="progress yorker-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="88"
                      aria-valuemin="0" aria-valuemax="100" style="width:88%">
                      HTML / CSS / JQUERY  <span>88%</span>
                    </div>
                  </div>
                  <!-- progress bar end -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Informação
        =================================== -->
      <div id="contactos" class="p-top-60 p-bot-60 parallax parallax_section5" data-stellar-background-ratio="0.1">
        <div class="container">
          <div class="row">
            <div class="col-md-3 footer-block wow fadeIn" data-wow-delay="0.30s">
              <div class="heading">
                <h3>CityRunning</h3>
              </div>
              <p>Uma plataforma online onde se junta DIVERSÃO, DESPORTO e TECNOLOGIA</p>
            </div>
            <div class="col-md-4 footer-block wow fadeIn" data-wow-delay="0.35s">
              <div class="heading">
                <h3>Contactos</h3>
              </div>
              <ul class="list-unstyled">
                <li><i class="fa fa-map-marker"></i>Campus Universitário de Santiago, 3810-193 Aveiro</li>
                <li><i class="fa fa-envelope"></i>p1g3@ams.com</li>
                <li><i class="fa fa-phone"></i> 258 647 475</li>
              </ul>
            </div>
            <div class="col-md-4 footer-block wow fadeIn" data-wow-delay="0.40s">
              <div class="heading">
                <h3>Junta-te a Nós</h3>
              </div>
              <p>Não percas todos os eventos mais perto de ti! Não vais querer faltar!</p>
            </div>
          </div>
        </div>
      </div>
      

      <div class="footer-bottom dark-bg">
        <div class="container text-center">
          <p> 2018 por AMS P1G3</p>
        </div>
      </div>
      
      <!-- SCROLLTOP -->
      <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-up"></i></a>
      </div>
    </div>
    <!--End Wrapper--> 
    <!-- END OF STYLE SWITCHER -->       
    <!-- PRELOADER
      ============================== --> 
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- JAVASCRIPT
      ================================================== -->
    <!-- Jquery--> 
    <script src="assets/js/jquery.js"></script> 
    <!-- Bootstrap Jquery--> 
    <script src="assets/js/bootstrap/js/bootstrap.min.js"></script> 
    <!-- Jquery Easing--> 
    <script src="assets/js/jquery.easing.min.js"></script>
    <!-- Wow Animation -->
    <script src="assets/plugins/wow/wow.min.js"></script>  
    <!-- Smooth Scroll--> 
    <script type="text/javascript" src="assets/plugins/SmoothScroll/SmoothScroll.js"></script>
    <!-- Stellar--> 
    <script type="text/javascript" src="assets/plugins/stellar/jquery.stellar.min.js"></script>
    <!-- Waypoint and Counters--> 
    <script type="text/javascript" src="assets/plugins/counter/waypoints.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/counter/jquery.counterup.min.js"></script> 
    <!--Isotope-->
    <script type="text/javascript" src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
    <!--Magnific Popup-->
    <script type="text/javascript" src="assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!--Images Load-->
    <script type="text/javascript" src="assets/plugins/imagesloaded/imagesloaded.pkgd.js"></script>
    <!-- Owl Carousel--> 
    <script type="text/javascript" src="assets/plugins/owl-carousel/owl.carousel.min.js"></script> 
    <!-- NIVO LIGHTBOX--> 
    <script type="text/javascript" src="assets/plugins/nivo-lightbox/nivo-lightbox.js"></script>    
    <!--Visible-->
    <script type="text/javascript" src="assets/plugins/visible/visible.js"></script>
    <!--Fitvids-->
    <script type="text/javascript" src="assets/plugins/fitvids/fitvids.js"></script>
    <!-- Google Maps--> 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAl-EDTJ5_uU3zBIX7-wNTu-qSZr1DO5Dw"></script> 
    <script type="text/javascript" src="assets/js/map.js"></script>
    <!-- Recaptcha--> 
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <!-- Contact--> 
    <script src="assets/js/contact.js"></script>
    <!-- switcher js -->
    <script src="assets/js/switcher.js"></script>     
    <!--Custom JS-->
    <script src="assets/js/custom.js"></script>
    <script>
      new WOW().init();
    </script>
  </body>
</html>

